:root {
  /* Primary Colors */
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);

  /* Neutral Colors */
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--magnolia);
  color: var(--marine-blue);
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.directions,
.content {
  margin: 0.3rem 0 0.3rem 0.3rem;
}
.container {
  height: 750px;
  width: 1000px;
  margin: auto;
  background: white;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  color: var(--white);
  border-radius: 20px;
}

.directions {
  border-radius: 15px;
  flex-basis: 30%;
  background-image: url("assets/images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}
.content {
  flex-basis: 70%;
  color: var(--marine-blue);
  position: relative;
}

.process:first-child {
  margin-top: 3rem;
}

.process {
  width: 100%;
  display: flex;
  height: 4rem;
  margin-top: 1rem;
}

.number-container,
.number-container p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.number-container {
  flex-basis: 30%;
  text-align: center;
  padding-left: 1rem;
}
.number-container .number {
  border-radius: 50%;
  border: 3px solid var(--white);
  height: 50px;
  width: 50px;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--marine-blue);
}

.steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-size: 1.3rem;
  padding-left: 1rem;
}
.steps .para1 {
  font-size: 1rem;
  color: var(--light-gray);
}

/* input[name='plan']:checked{
    border: 2px solid red;
} */

.steps .para2 {
  font-weight: 600;
  /* font-size: 1.5rem; */
}
.changePlan {
  width: 30%;
  border-bottom: 0.134rem solid var(--marine-blue);
}

.plans {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.individual-plan {
  border: 2px solid var(--cool-gray);
  user-select: none;
  flex-basis: 31.5%;
  border-radius: 0.6rem;
}

.plan-details {
  padding: 0 0 1rem 1rem;
}

.image-plan {
  height: 8rem;
  /* border: 2px solid blue; */
}

.image-plan img {
  width: 55px;
  margin: 1rem auto auto 1rem;
}

.container {
  /* overflow: hidden; */
}

.slides {
  /* position: absolute; */
  /* margin: 1rem auto; */
  /* padding: 1rem; */
  height: 95%;
  width: 100%;
  margin: auto;
}
.width {
  margin: auto;
  width: 80%;
  height: 100%;
  /* border: 2px solid red; */
  padding: 2.5rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.slide1-box2 {
  margin: 1rem 0 2.5rem 0;
  /* border: 2px solid red; */
}

.nameInput,
.emailInput,
.numberInput {
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: inherit;
  border-radius: 0.5rem;
  border: 1.5px solid var(--light-gray);
  font-size: 1rem;
}

.nameInput:hover,
.nameInput:focus,
.emailInput:hover,
.emailInput:focus,
.numberInput:hover,
.numberInput:focus {
  outline: none;
  border: 1.5px solid var(--marine-blue);
}

.slide1-details {
  /* border: 2px solid red; */
  margin: 0rem 0 0.6rem 0;
}

.details-heading {
  margin: 2rem 0 0 0;
}

.none {
  display: none;
}

.buttons {
  /* border: 1px solid rgb(61, 43, 43); */
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* position: absolute;
    top: 90%; */
}

.slide-1 .width .buttons {
  /* align-items: flex-end; */
  justify-content: flex-end;
  /* border: 2px solid red; */
}

.prev-btn,
.nxt-btn {
  height: 3rem;
  width: 6rem;
  border: none;
  border-radius: 10px;
}
.nxt-btn {
  background-color: var(--purplish-blue);
  color: var(--alabaster);
}

.prev-btn {
  background-color: inherit;
  color: var(--cool-gray);
}

.slide-3 .width .check-boxes {
  /* border: 0.5px solid red; */
  /* height: 100%; */
  display: flex;
  flex-direction: column;
}

.slide-3 .width .check-boxes .services {
  border: 0.13rem solid var(--cool-gray);
  margin: 1rem 0;
  border-radius: 10px;
}

.slide3-box2 {
  /* margin: 1.5rem 0; */
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 1.5rem; */
  align-items: center;
}

.service-checkbox {
  /* border: 2px solid red; */
  /* flex-basis: 1%; */
  margin: auto;
}

input[class="checkboxPlans"] {
  display: none;
  /* packagePlan */
}

input[type="checkbox"] {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-info {
  /* border: 0.5px solid blue ; */
  flex-basis: 70%;
}
.service-info .para1 {
  padding: 0.5rem 0 0.1rem 0;
  /* border: 2px solid red; */
}
.service-info .para2 {
  /* padding: 0 0 0.7rem 0; */

  padding: 0.5rem 0 0.5rem 0;
  /* border: 3px solid red; */
}

.service-cost {
  /* border: 0.2px solid red; */
  font-size: 1rem;
  flex-basis: 15%;
}

.service-info {
  user-select: none;
}

.div2-para1,
.div2-para2,
.div2-para3 {
  padding: 1rem 2rem;
}

.div2-para2,
.div2-para1,
.slide4-div2 div {
  /* border: 1px solid red; */
  background: rgb(226, 232, 255);
}

.div2-para1 {
}

.slide4-div2 div hr {
  color: var(--light-gray);
  width: 90%;
  margin: auto;
}

.space-between {
  display: flex;
  flex-direction: row;
  /* border: 2px solid greenyellow; */
  justify-content: space-between;
  /* align-items: flex-end; */
}

.slide4-div1 {
  /* margin: 0 0 4.5rem 0; */
}

.slide4-div2 div p {
  /* border: 2px solid red; */
  margin: 1rem 0;
}

.slide4-div2 {
  margin: 1rem 0;
}

.packagePlan {
  /* border: 2px solid red; */
  /* background: var(--light-blue); */
  background-color: rgb(226, 232, 255);
  margin: 2rem 0;
  /* display: none; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.packagePlan div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.radioinputs {
  display: inline-block;
  margin: 0 1rem;
}

.selectPlan {
  font-weight: 600;
}

.boxBorder {
  display: inline-flex;
  /* border: 2px solid green; */
  border-radius: 2rem;
  height: 2.6rem;
  width: 5rem;
  margin: auto;
  background-color: var(--marine-blue);
  position: relative;
  /* overflow: hidden; */
}

.boxBorder::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 0.3rem;
  /* right: 0.2rem; */
  /* transform: translateX(55%); */

  right: 0.4rem;
  height: 1.8rem;
  width: 1.8rem;
  background-color: var(--alabaster);
}

input[class="checkboxPlans"]:checked ~ .insidebox .boxBorder::before {
  /* display: none; */
  transform: translateX(-125%);
  /* left: 0.2rem; */
}

.finalBill {
  font-size: 1.3rem;
  color: var(--purplish-blue);
  font-weight: 600;
}

.yearlyPlan {
  color: var(--cool-gray);
}

.endSlide {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.endSlide img {
  width: 6rem;
}

.endSlide h1 {
  margin: 1.5rem 0;
}
.endSlide p {
  /* border: 2px solid red;  */
  text-align: center;
}

.content-description {
  margin: 1.5rem 0;
}

.xyCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.purplish-blue {
  color: var(--purplish-blue);
}

.cool-gray {
  color: var(--cool-gray);
}

.heading1 {
  font-size: 2.5rem;
}

.heading2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.heading3 {
  font-size: 1.1rem;
}

.heading4 {
  font-size: 1.2rem;
  font-weight: 400;
}

.finalSelectedPlan {
  border: 2px solid #02295a;
  /* background-color:  var(--light-blue); */
  background-color: rgb(226, 232, 255);
}

.slide-3 .width .check-boxes .serviceCheck {
  border: 0.13rem solid #02295a;
  background-color: rgb(226, 232, 255);
}

.light-blue-backg,
.lightblueCircle {
  background: var(--light-blue);
}

.buttonsMobile {
  display: none;
}

.desktopNone {
  display: none;
}

@media (width<=768px) {
  .mobileNone {
    display: none;
  }
  .process {
    width: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .process:first-child,
  .process {
    margin-top: 2rem;
  }
  .steps {
    display: none;
  }
  .container {
    width: 500px;
    flex-direction: column;
  }
  .directions {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    background: url("./assets/images/bg-sidebar-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    aspect-ratio: 2/1;
    border-radius: 0px;
    display: flex;
    justify-content: center;
  }
  .content {
    position: relative;
    width: 100%;
    /* border: 3px solid red;  */
    margin: 0;
  }
  .slides {
    position: absolute;
    top: -7.3rem;
    width: 100%;
  }

  .width {
    padding: 0rem;
  }
  .width {
    /* border: 3px solid blue; */
    background: var(--alabaster);
    border-radius: 1rem;
    padding: 2.5rem 2rem;
  }
  .width .firstdivMobile,
  .forMobile {
    height: auto;
  }
  .container {
    background: inherit;
    position: relative;
    height: 100%;
    width: 100%;
  }

  .desktopNone {
    /* border: 3px solid red; */
    background: var(--alabaster);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }
  .width {
    height: auto;
  }
  .slide-3 .width .check-boxes .services {
    margin: 0.48rem 0;
    border-radius: 10px;
  }

  .div2-para1,
  .div2-para2,
  .div2-para3 {
    padding: 0.5rem 2rem;
  }
  .endSlide .heading3 {
    font-size: 1.2rem;
  }

  .plans {
    flex-direction: column;
    flex-basis: auto;
  }
  .individual-plan {
    margin: 0.2rem 0;
    overflow: hidden;
  }
  .individual-plan .plan-Inside {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    /* border: 2px solid red; */
  }
  .image-plan {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background:  red; */
  }
  .image-plan img {
    margin: 0.9rem;
  }
  .plan-Inside {
    /* padding: 0.2rem 0.5rem; */
    display: flex;
    align-items: center;
  }
  .content-description {
    margin: 1rem 0;
  }

  .image-plan img {
    width: 3rem;
  }
  .packagePlan {
    margin: 0.5rem 0 0 0;
  }
  .plan-details {
    padding: 0;
  }

  .prev-btn {
    align-items: center;
  }

  .heading1 {
    font-size: 2rem;
    /* border: 2px solid red; */
  }

  .heading2 {
    font-size: 1.2rem;
    font-weight: 500;
    /* border: 2px solid blue;  */
  }

  .heading3 {
    font-size: 1rem;
    /* border: 2px solid orange; */
  }

  .heading4 {
    font-size: 1.2rem;
    font-weight: 400;
  }
}
